In [1]:
#This line will import Mongo to this Python notebook. Nothing will happen if this import has alred been done
import pymongo
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017/')

In [2]:
#This will create a Collection/Database called "employees" if it doesn't already exist
db = client['employees']

In [3]:
#This line provides the MongoDB name for the Collection/Database "employees"
employees = db.employees

In [4]:
#This line inserts employee data into db.employees database
db.employees.insert_many([{"name": "Jessica", "Department":"IT","Salary": 6000},
                                 {"name": "Joseph", "Department":"IT","Salary": 7000},
                                 {"name": "Alex", "Department":"Accounts","Salary": 5000},
                                 {"name": "Julie", "Department":"IT","Salary": 3000},
                                 {"name": "James", "Department":"Admin","Salary": 8000},
                                 {"name": "Jacob", "Department":"Admin","Salary": 9000},
                                 {"name": "Kevin", "Department":"IT","Salary": 6500}
                              ])

In [5]:
#This finds and prints out all of the employees, their departments and their salaries
for employee in employees.find():
  print(employee)

{'_id': ObjectId('60f3d91cee1301e192fab6aa'), 'name': 'Jessica', 'Department': 'IT', 'Salary': 6000}
{'_id': ObjectId('60f3d91cee1301e192fab6ab'), 'name': 'Joseph', 'Department': 'IT', 'Salary': 7000}
{'_id': ObjectId('60f3d91cee1301e192fab6ac'), 'name': 'Alex', 'Department': 'Accounts', 'Salary': 5000}
{'_id': ObjectId('60f3d91cee1301e192fab6ad'), 'name': 'Julie', 'Department': 'IT', 'Salary': 3000}
{'_id': ObjectId('60f3d91cee1301e192fab6ae'), 'name': 'James', 'Department': 'Admin', 'Salary': 8000}
{'_id': ObjectId('60f3d91cee1301e192fab6af'), 'name': 'Jacob', 'Department': 'Admin', 'Salary': 9000}
{'_id': ObjectId('60f3d91cee1301e192fab6b0'), 'name': 'Kevin', 'Department': 'IT', 'Salary': 6500}

### To get the total number of records in the collection

In [6]:

pipeline = [
     {"$group": {"_id": None,"Count": {"$sum": 1}}}]
grp_employees = db.employees.aggregate(pipeline)

In [7]:
print(employee)

{'_id': ObjectId('60f3d91cee1301e192fab6b0'), 'name': 'Kevin', 'Department': 'IT', 'Salary': 6500}

### To group by department and get the total salary for each department

In [8]:
pipeline = [
     {"$group": {"_id": "$Department","Salary": {"$sum": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [9]:
print(employee)

{'_id': ObjectId('60f3d91cee1301e192fab6b0'), 'name': 'Kevin', 'Department': 'IT', 'Salary': 6500}

### To group by department and get the average salary for each department

In [10]:
pipeline = [
     {"$group": {"_id": "$Department","Salary": {"$avg": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [11]:
print(employee['_id'],"\t Average Salary ",employee['Salary'])

60f3d91cee1301e192fab6b0 	 Average Salary  6500

### To get the employees with the lowest salary

In [12]:
pipeline = [
     {"$group": {"_id": None ,"Minimum Salary": {"$min": "$Salary"}}}]
grp_employees = db.employees.aggregate(pipeline)

In [14]:
for spec_emp in employees.find({"Salary":employee['Salary']}):
        print("Name ",spec_emp['name'],"\nSalary ",spec_emp['Salary'])

Name  Kevin
Salary  6500